@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #424656;
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;
}

.logo img{
    width: 130px;
    height: 55px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 0.8rem;
}

nav ul li a{
    text-decoration: none;
    color: #fcf7f8;
    font-size: 1.2rem;
    transition: all 0.3s ease;

}

nav ul li a:hover{
    color: #fff;
    font-weight: 600;
}

button{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid #fcf7f8;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;

}

.hire-me-top:hover{
    box-shadow: inset 6.5rem 0 0 0 #43766c;
    border: 1px solid #f2b6fc;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container{
    flex: 1;
}

h3{
    margin-bottom: 1.2rem;
    font-size: 3rem;
    color: #ffe7e7;
}

span{
    color: #e4ac14;
}

p{
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-size: 1.8rem;
    color: #d0ffce;
}

.btn-container{
    display: flex;
    gap: 3rem;
}

.download-cv{
    background-color: #f7dd72;
    color: #000;
    transition: all 0.3s ease;
}

.download-cv:hover{
    background-color: transparent;
    color: #fff;
    letter-spacing: 0.03rem;
}

.hire-me{
    background-color: #e4ac14;
    color: #000;
    transition: all 0.3s ease;
}

.hire-me:hover{
    background-color: transparent;
    color: #fff;
    letter-spacing: 0.03rem;
}


.img-container{
    flex: 1;
}

img{
    width: 80%;
    cursor: pointer;
}
